<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Robot</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>

<div class="thumbnail-box">
    <a class="thumbnail" href="/robot#idle"><img src="/images/thumbs/robot_idle.jpg" />Robot Idle</a>
    <a class="thumbnail" href="/robot#talking"><img src="/images/thumbs/robot_talking.jpg" />Robot Talking</a>
    <a class="thumbnail" href="/yeti#idle"><img src="/images/thumbs/yeti_idle.jpg" />Yeti Idle</a>
    <a class="thumbnail" href="/yeti#talking"><img src="/images/thumbs/yeti_talking.jpg" />Yeti Talking</a>
</div>

</body>

</html>